<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EbayURL" value="https://www.ebay.com/"/>
    <add key="Html5demosURL" value="https://html5demos.com/drag/"/>
    <add key="ChromeDriverPath" value="Drivers\ChromeDriver"/>
    <add key="FirefoxDriverPath" value="Drivers\FirefoxDriver"/>
    <add key="JQueryLoadHelper" value="JsFiles\jquery_load_helper.js"/>
    <add key="DragAndDropHelper" value="JsFiles\drag_and_drop_helper.js"/>
  </appSettings>
</configuration>